@model UsuarioAcessoViewModel

@{
    ViewData["Module"] = "Gestão de Acesso";
    ViewData["Title"] = "Excluir usuário";
}

<div class="card">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">   

        @await Component.InvokeAsync("Summary")

        <h4>Deseja realmente excluir este usuário?</h4>

        <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-3">Matrícula</dt>
                <dd class="col-sm-9">@Html.DisplayFor(x=> x.Matricula)</dd>
                
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">@Html.DisplayFor(x=> x.Usuario.Nome)</dd>
            </dl>             
            
            <form asp-action="Delete">
                <input asp-for="Matricula" type="hidden"> 
                <button class="btn btn-danger" type="submit">Sim, excluir</button>
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
            </form>   
        </div>   
        </div>   
    </div>
</div>